{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}


{% block body %}

        <div id="carouselExampleInterval" class="carousel slide spaceFromNavbar" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                    <img src="{{asset('build/retrogame.jpg')}}" class="d-block"  alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{{asset('build/retrogame.jpg')}}" class="d-block  " alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{asset('build/retrogame.jpg')}}" class="d-block  " alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    <hr class="w-75 ">


    <section class="presentation-restaurant">
        <div class="container-presentation">


        </div>
    </section>

    <section class="presentation-products">
        <div class="containerListProduit flex-column mt-4">
            <h3 class="m-auto text-center mb-4 titleProductsList"> Résultat(s) pour votre recherche : </h3>

            <div class="containerProducts">
                {% for product in products %}

                        <div class="cardGame text-center mt-3"  >
                            <div class="cardImg">
                                <img class="imageProduct" style="max-width: 100%" src="{{ asset('uploads/'~product.image) }}" alt="">
                            </div>

                            <div class="cardBody">
                                <h4 class=" mt-4 card-title">{{product.name}}</h4>
                                <h6 class=" console {% if 'ps' in product.console.name  %} consolePlaystation {% elseif  'xbox' in product.console.name %} consoleXbox {% else %} consoleNintendo {% endif %}">

                                    {{ product.console }}
                                </h6>
                                <div class="description">
                                    <p class="">{{ product.description }}</p>
                                </div>
                                <a href="{{ path('app_product_show', {slug: product.slug}) }}" class="linkSeeMoreProduct ">Voir plus</a>
                                <hr class="w-75 mb-2">
                                <h5 class="w-75 mb-2 p-2  m-auto card-text text-end fw-bold">
                                    {{ (product.price/100* (1+codeTva[product.codeTva]/100))|format_currency('EUR',locale="fr")}}
                                </h5>
                                <hr class="w-75 mb-3">
                                <div class="d-flex flex-column">
                                    <form>
                                        {% if app.session.get("cart")[product.id] is not defined %}
                                            <div class="d-flex flex-row justify-content-center">
                                                <input type="number" min="1"
                                                       name="quantity" class="quantity "
                                                     />
                                                <button type="submit"
                                                        data-product="{{ product.id }}"
                                                        class="buttonBlueDegrade addButton"><span class="material-symbols-outlined cart">shopping_cart</span></button>
                                            </div>
                                        {% else %}
                                            <div class="d-flex flex-row justify-content-center">
                                                <input type="number" min="1" name="quantity"
                                                       class="quantity"
                                                       value="{{ app.session.get('cart')[product.id] }}"/>
                                                <button type="submit" data-product="{{ product.id }}" class="buttonBlueDegrade addButton">
                                                    <span class="material-symbols-outlined cart">shopping_cart</span>
                                                </button>
                                            </div>

                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
