<nav class="navbar navbar-expand-lg p-4 ">
        <div class="container-fluid">
            <img src="{{ asset('build/logo2.png') }}" height="40"  width="40" >
            <a class="navbar-brand fontRetro ms-2" href="#">RetroGamin'</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="material-symbols-outlined">
menu
</span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav w-100">
                    <li class="nav-item">
                        <a class="nav-link active fontRetro" aria-current="page" href="{{ path('app_home') }}">Home</a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('logout') }}">Deconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                        </li>
                    {% endif %}
                    <form action="{{ path('search') }}" class="d-flex flex-row text-end">

                        <div >
                            <input
                                    class="form-control me-3 ms-3" list="dataList" type="search" name="q" id="searchList">
                            <datalist  id="dataList" ></datalist>
                        </div>
                        <button class="btn buttonBlueDegrade btnSearch ms-4" type="submit"> Rechercher </button>
                    </form>
                </ul>

                <div class=" d-flex me-5 cart-container">
                    <a href="{{ path('app_cart') }}" class="text-decoration-none">
                        <span class="material-symbols-outlined cart">shopping_cart</span>
                    </a>
                    {% if app.session.get('cart') | length > 0 %}
                        <span class="text-white">{{ app.session.get('cart')|reduce((previous, value) => previous + value) }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

